body{
    margin: 0;
    background-color: rgb(247, 250, 249);
    font-family: Arial, Helvetica, sans-serif;
    
}
.nav-bar{
    background-color: teal;
    color: aliceblue;
    display: flex;
    height: 65px;
    list-style: none;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-direction: none;

   
   
}
nav li a{
    color: white;
    flex-direction: column; 
    font-size:22px ;
    text-decoration: none;
}
nav li a:hover{
    color: rgb(202, 196, 196);
    text-decoration: underline;
}
.main-title{
    text-align: center;
    padding-top: 50px;
}
.main-title h1{
    font-size: 40px;
}
.main-title p{
    font-size: 20px;
}
